@font-face {
    font-family: 'BK';
    src:
        url(fonts/Flame-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'BKBold';
    src:
        url(fonts/Flame-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'BKSans';
    src:
        url(fonts/FlameSans-Regular.ttf) format("truetype");
}
h1 {
    font-family: 'BKBold';
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}